.menu-pricing{
  //height: 855px;
  text-align: center;
  background: url('~assets/images/bg_4.jpg');
}

.price-title{
  padding-top: 50px;
  padding-bottom: 70px;

  hr{
    width: 100px;
    //color: $yellow;
  }

}

.prices{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 110px 500px 110px 450px;
  grid-template-rows: repeat(4, 120px);
  text-align: left;
  padding-bottom: 50px;

  img{
    width: 90px;
    border-radius: 45px;
  }

  h3{
    margin-bottom: 0;
  }

  p{
    margin-top: -10px;
    font-size: medium;
  }

  .price{
    color: $yellow;
  }
}





//chess field menu page

.chess-field{
  display: grid;
  //grid-template-columns: repeat(6, 235px);
  //grid-template-rows: 235px 235px;
  grid-template-columns: repeat(6, minmax(254px, 1fr));
  //grid-template-rows: 3fr 3fr;

  .image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pizza-1{
    background-image: url("~assets/images/pizza-1.jpg");
  }
  .pizza-2{
    background-image: url("~assets/images/pizza-2.jpg");
  }
  .pizza-3{
    background-image: url("~assets/images/pizza-3.jpg");
  }
  .pizza-4{
    background-image: url("~assets/images/pizza-4.jpg");
  }
  .pizza-5{
    background-image: url("~assets/images/pizza-5.jpg");
  }
  .pizza-6{
    background-image: url("~assets/images/pizza-6.jpg");
  }

  .short-description{
    text-align: left;
    margin: 0 20px 30px 20px ;
  }

}


//3 types of pizza page
.three-types-of-pizza{
  display: grid;
  grid-template-columns: 30% 70%;

  .big-img{
    //width: 30%;
    background-image: url("~assets/images/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .three-types-of-dishes{
    display: grid;
    grid-template-rows: 1fr 6fr;
    align-items: center;

    .dish-btns{
      margin-top: 70px;
      margin-left: 70px;
      text-align: left;

      button{
        margin-right: 10px;
      }
    }

    .dish-category{
      display: none;
    }

    .three-types{
      display: grid;
      grid-template-columns: repeat(3, 360px);
      //align-content: center;

      .type{
        margin-left: 30px;
        margin-top: -50px;

        img{
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
      }
    }
  }


}