nav{
  display: grid;
  grid-template-columns: 500px repeat(6, 80px);
  height: 70px;
}

nav button{
  background: none;
  border: none;
  color: white;
}

.slide{
  height: 855px;
}

.first-slide{
  //display: flex;
  //justify-content: center;

  display: grid;
  grid-template-columns: 700px 550px;
  justify-content: center;
  align-items: center;
  text-align: right;

  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('~assets/images/bg_1.jpg');
}

.big-pizza-1 img{
  width: 500px;

  border: 2px solid green;
  //height: 35%;
}